<div>

welcome to our {{name}}  page
</div>

<div>
    You can manage our list of hostels <a routerLink="/list">here</a>
<!--
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div id="id01" class="modal">
  
        <form class="modal-content animate" action="/action_page.php" method="post">
          <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close ">
            
      
      
          <div class="container">
            <label for="uname"><b>Username:</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required><br>
      
            <label for="psw"><b>Password:</b></label>
             <input type="password" placeholder="Enter Password" name="psw" required>
              
            <button type="submit">Login</button><br>
            <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
          </div>
      
          <div class="container"  >
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            <span class="psw"> <a href="#">Forgotpassword?</a>
       
    
     
      
      <script>
      // Get the modal
      var modal = document.getElementById('id01');
      
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
          if (event.target == modal) {
              modal.style.display = "none";
          }
      }
      </script>
     
     
    -->
