<div class="wrapper">
        <form class="login">
          <p class="title">Log in</p>
          <input type="text" placeholder="Username"  [(ngModel)]="username" autofocus/>
          <i class="fa fa-user"></i>
          <input type="password" placeholder="Password"  [(ngModel)]="password" />
          <i class="fa fa-key"></i>
          <a href="#">Forgot your password?</a>
          <button  (click)=handlelogin()>
            <i class="spinner"></i>
            
            <span class="state">Log in</span>
          </button>
        </form>
    
      </div>